<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localDB" connectionString="Server=localhost;Database=scraping;Uid=root;Pwd=Afssoftware01;CharSet=utf8;" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>